{{#if this.shouldShowCompanyField}}
  <div class="user-card-company-field">
    <span class="company-field-label">{{theme-setting "field_label"}}:</span>
    <span class="company-field-value">{{this.companyValue}}</span>
  </div>
{{/if}}
