{{#if this.shouldShowCompanyField}}
  <div class="user-profile-company-field">
    <div class="company-field-container">
      <span class="company-field-label">{{theme-setting "field_label"}}:</span>
      <span class="company-field-value">{{this.companyValue}}</span>
    </div>
  </div>
{{/if}}
